footer{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(172, 251, 225);
    bottom: 0;
    left: 0;
    position: fixed;
}